<body>
  <div id="body1" class="w-full h-screen">
      <div class="p-16">
          <h1 class="text-7xl text-blanco font-bold py-16">Comienza tu día con<br> un buen café negro</h1>
          <button class="bg-crema rounded-2xl text-blanco p-2 w-40 mr-5"><a href="#productos">Comprar Ahora</a></button>
      </div>
  </div>
  <img id="flecha" class="w-20 h-20" src="../../../assets/img/12-59-10-594_512.webp">
  <div class="text-7xl text-center text-crema mt-36">
      <h1 id="productos">Productos</h1>
  </div>

  <div class="flex w-full p-16 justify-center">

      <div class="contenedor-item">
          <p class="text-center text-4xl text-crema">Bebidas</p>
          <img id="cat" src="../../../assets/img/drink/cafelate.jpg" alt="" class="contenedor-img">
          <div class="contenedor-text">
              <div class="izquierda-contenedor-text">
                  <h2 class="title"><a href="./drink/">Ver</a></h2>
              </div>
          </div>
      </div>

      <div class="contenedor-item">
          <p class="text-center text-4xl text-crema">Panes</p>
          <img id="cat" src="../../../assets/img/bread/pan.jpg" alt="" class="contenedor-img">
          <div class="contenedor-text">
              <div class="izquierda-contenedor-text">
                  <h2 class="title"><a href="./bread/">Ver</a></h2>
              </div>
          </div>
      </div>

      <div class="contenedor-item">
          <p class="text-center text-4xl text-crema">Postres</p>
          <img id="cat" src="../../../assets/img/postre5.jpg" alt="" class="contenedor-img">
          <div class="contenedor-text">
              <div class="izquierda-contenedor-text">
                  <h2 class="title"><a href="./dessert/">Ver</a></h2>
              </div>
          </div>
      </div>
  </div>
  </body>
