<body>
    <div class="cabecera">
        <h3 class="titulo">Postres</h3>
    </div>
    
    <div class="container">
        <div class="card">
            <div class="face front">
                <img src="../../../../assets/img/postres/postre1.webp" alt="" />
                <h3>Cake Chocolate</h3>
            </div>
            <div class="face back">
                <h3>Cake Chocolate</h3>
                <h2>Descripción</h2>
                <p class="contenido">
                  Delicada genovesa rica en chocolate con mousse de chocolate,
                   bañada con ganache.
                </p>
                <h4>$5.98</h4>
                <div class="link">
                    <a href="#">Comprar</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face front">
                <img src="../../../../assets/img/postres/postre2.png" alt="" />
                <h3>Tiramizú</h3>
            </div>
            <div class="face back">
                <h3>Tiramizú</h3>
                <h2>Descripción</h2>
                <p class="contenido">
            Queso crema aromatizado con café y trocitos de chocolate, decorado con polvo de cacao.
            </p>
            <h4>$5.80</h4>
            <div class="link">
                <a href="#">Comprar</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="../../../../assets/img/postres/postre3.jpg" alt="" />
            <h3>Tres Leches</h3>
        </div>
        <div class="face back">
            <h3>Tres Leches</h3>
            <h2>Descripción</h2>
            <p class="contenido">
              Bizcocho bañado con tres tipos de leche: leche evaporada, crema de leche y leche
              condensada
            </p>
            <h4>$4.50</h4>
            <div class="link">
                <a href="#">Comprar</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="../../../../assets/img/postres/postre4.jpg" alt="" />
            <h3>Chimborazo</h3>
        </div>
        <div class="face back">
            <h3>Chimborazo</h3>
            <h2>Descripción</h2>
          <p class="contenido">
            Genovesas de vainilla y chocolate rellenas con ganache y cubiertas con chocolate
            semiamargo.
            </p>
            <h4>$6.20</h4>
            <div class="link">
                <a href="#">Comprar</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="../../../../assets/img/postres/postre5.jpg" alt="" />
            <h3>Cheescake</h3>
        </div>
        <div class="face back">
            <h3>Cheescake</h3>
            <h2>Descripción</h2>
            <p class="contenido">
              Cheesecake New York al estilo Café oh là là, bañado con salsa de mora. 
            </p>
            <h4>$7.30</h4>
            <div class="link">
                <a href="#">Comprar</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="../../../../assets/img/postres/postre6.jpg" alt="" />
            <h3>Brazo Gitano</h3>
        </div>
        <div class="face back">
            <h3>Brazo Gitano</h3>
            <h2>Descripción</h2>
            <p class="contenido">
              Bizcocho genovés en plancha fina, con cobertura de crema
               o también mermelada y frutos rojos.
            </p>
            <h4>$8.55</h4>
            <div class="link">
                <a href="#">Comprar</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="../../../../assets/img/postres/postre7.jpg" alt="" />
            <h3>Tarta Frambuesa</h3>
        </div>
        <div class="face back">
            <h3>Tarta Frambuesa</h3>
            <h2>Descripción</h2>
            <p class="contenido">
              Masa dulce crocante con crema mousseline y frambuesas.
            </p>
            <h4>$3.85</h4>
            <div class="link">
                <a href="#">Comprar</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="../../../../assets/img/postres/tarta limon.jpg" alt="" />
            <h3>Tarta Limón</h3>
        </div>
        <div class="face back">
            <h3>Tarta Limón</h3>
            <h2>Descripción</h2>
            <p class="contenido">
              Masa dulce crocante rellena con crema de limón,
              decorada con merengue.
            </p>
            <h4>$9.65</h4>
            <div class="link">
                <a href="#">Comprar</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
          <img src="../../../../assets/img/postres/postre9.jpg" alt="" />
          <h3>Cake Naranja</h3>
        </div>
        <div class="face back">
            <h3>Cake Naranja</h3>
            <h2>Descripción</h2>
            <p class="contenido">
                Delicada genovesa perfumada con naranja natural,
                ralladura de cascara y eseencia de naranja.
            </p>
            <h4>$6.75</h4>
            <div class="link">
                <a href="#">Comprar</a>
            </div>
        </div>
    </div>
  </div>
  </body>