<body>
    <div class="cabecera">
        <h3>BEBIDAS</h3>
    </div>
    
    <div class="container">
        <div class="card">
            <div class="face front">
                <img src="../../../../assets/img/drink/cafelate.jpg" alt="" />
                <h3>CAFE</h3>
            </div>
            <div class="face back">
                <h3>TE</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                    consectetur cumque magni amet fugit nihil, vitae vel, culpa adipisci
                    mollitia voluptatem iste eligendi illo asperiores!
                </p>
                <div class="link">
                    <a href="#">Add to car</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face front">
                <img src="../../../../assets/img/drink/cafelate.jpg" alt="" />
                <h3>BATIDOS</h3>
            </div>
            <div class="face back">
          <h3>CAPUCHINO</h3>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
              consectetur cumque magni amet fugit nihil, vitae vel, culpa adipisci
              mollitia voluptatem iste eligendi illo asperiores!
            </p>
            <div class="link">
                <a href="#">Add to car</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="../../../../assets/img/drink/cafelate.jpg" alt="" />
            <h3>JUGOS</h3>
        </div>
        <div class="face back">
            <h3>CHOCOLATE</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                consectetur cumque magni amet fugit nihil, vitae vel, culpa adipisci
                mollitia voluptatem iste eligendi illo asperiores!
            </p>
            <div class="link">
                <a href="#">Add to car</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="../../../../assets/img/drink/cafelate.jpg" alt="" />
            <h3>LATE</h3>
        </div>
        <div class="face back">
            <h3>TRICOLOR</h3>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
              consectetur cumque magni amet fugit nihil, vitae vel, culpa adipisci
              mollitia voluptatem iste eligendi illo asperiores!
            </p>
            <div class="link">
                <a href="#">Add to car</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="../../../../assets/img/drink/cafelate.jpg" alt="" />
            <h3>JAMAICANO</h3>
        </div>
        <div class="face back">
            <h3>CAFE AMERICANO</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                consectetur cumque magni amet fugit nihil, vitae vel, culpa adipisci
                mollitia voluptatem iste eligendi illo asperiores!
            </p>
            <div class="link">
                <a href="#">Add to car</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="../../../../assets/img/drink/cafelate.jpg" alt="" />
            <h3>LATE HELADO</h3>
        </div>
        <div class="face back">
            <h3>YOGURT GRIEGO</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                consectetur cumque magni amet fugit nihil, vitae vel, culpa adipisci
                mollitia voluptatem iste eligendi illo asperiores!
            </p>
            <div class="link">
                <a href="#">Add to car</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="../../../../assets/img/drink/cafelate.jpg" alt="" />
            <h3>MALTEADA</h3>
        </div>
        <div class="face back">
            <h3>Pan artesanal</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                consectetur cumque magni amet fugit nihil, vitae vel, culpa adipisci
                mollitia voluptatem iste eligendi illo asperiores!
            </p>
            <div class="link">
                <a href="#">Add to car</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="../../../../assets/img/drink/cafelate.jpg" alt="" />
            <h3>AGUA</h3>
        </div>
        <div class="face back">
            <h3>GRAPE DE FRESA</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                consectetur cumque magni amet fugit nihil, vitae vel, culpa adipisci
                mollitia voluptatem iste eligendi illo asperiores!
            </p>
            <div class="link">
                <a href="#">Add to car</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
          <img src="../../../../assets/img/drink/cafelate.jpg" alt="" />
          <h3>HEALDOS</h3>
        </div>
        <div class="face back">
            <h3>MACHA</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                consectetur cumque magni amet fugit nihil, vitae vel, culpa adipisci
                mollitia voluptatem iste eligendi illo asperiores!
            </p>
            <div class="link">
                <a href="#">Add to car</a>
            </div>
        </div>
    </div>
</div>
</body>