<!-- invocice body -->
<div class="pt-10 w-full family bg-[url('https://www.teahub.io/photos/full/5-53489_photo-wallpaper-tree-coffee-coffee-fondos-de-pantalla.jpg')] bg-contain bg-left-repeat">

    <h1 class="font-bold text-7xl text-center text-blanco">FACTURA</h1>
<!-- cards container -->
    <div id="campos" class="md:w-5/5 lg:w-3/5 flex flex-wrap mx-auto pb-10 outline-4 rounded-lg justify-center">
    <!-- card model -->
        <div
            class="m-2 p-2 border-4 border-chocolate rounded-xl bg-crema text-chocolate font-bold w-5/12 shadow-md shadow-chocolate">
            <h2 class="font-bold md:text-md xl:text-xl 2xl:text-4xl">Nombre: <span class="text-blanco font-light  block">{{"Nombre"}}</span></h2>
        </div>

        <div
            class="m-2 p-2 border-4 border-chocolate rounded-xl bg-crema text-chocolate font-bold w-5/12 shadow-md shadow-chocolate">
            <h2 class="font-bold md:text-md xl:text-xl 2xl:text-4xl">Identidad: <span class="text-blanco font-light  block">{{"Identidad"}}</span></h2>
        </div>

        <div
            class="m-2 p-2 border-4 border-chocolate rounded-xl bg-crema text-chocolate font-bold w-5/12 shadow-md shadow-chocolate">
            <h2 class="font-bold md:text-md xl:text-xl 2xl:text-4xl">Dirección: <span class="text-blanco font-light  block">{{"Dirección"}}</span></h2>
        </div>

        <div
            class="m-2 p-2 border-4 border-chocolate rounded-xl bg-crema text-chocolate font-bold w-5/12 shadow-md shadow-chocolate">
            <h2 class="font-bold md:text-md xl:text-xl 2xl:text-4xl">Número de Teléfono: <span class="text-blanco font-light  block">{{"Número de Teléfono"}}</span></h2>
        </div>

        <div
            class="m-2 p-2 border-4 border-chocolate rounded-xl bg-crema text-chocolate font-bold w-5/12 shadow-md shadow-chocolate">
            <h2 class="font-bold md:text-md xl:text-xl 2xl:text-4xl">Correo Electrónico: <span class="text-blanco font-light  block">{{"Correo Electrónico"}}</span></h2>
        </div>
<!-- 
        <div
            class="m-2 p-2 border-4 border-chocolate rounded-xl bg-crema text-chocolate font-bold w-5/12 shadow-md shadow-chocolate">
            <h2 class="font-bold md:text-md xl:text-xl 2xl:text-4xl">Subtotal: <span class="text-blanco font-light block">{{"Subtotal"}}</span></h2>
        </div> -->

        <div
            class="m-2 p-2 border-4 border-chocolate rounded-xl bg-crema text-chocolate font-bold w-5/12 shadow-md shadow-chocolate">
            <h2 class="font-bold md:text-md xl:text-xl 2xl:text-4xl">Total: <span class="text-blanco font-light block">{{"Total"}}</span></h2>
        </div>

        <!-- <div
            class="m-2 p-2 border-4 border-chocolate rounded-xl bg-crema text-chocolate font-bold w-5/12 shadow-md shadow-chocolate">
            <h2 class="font-bold md:text-md xl:text-xl 2xl:text-4xl">Total: <span class="text-blanco font-light block">{{"Total"}}</span></h2>
        </div>

        <div
            class="m-2 p-2 border-4 border-chocolate rounded-xl bg-crema text-chocolate font-bold w-5/12 shadow-md shadow-chocolate">
            <h2 class="font-bold md:text-md xl:text-xl 2xl:text-4xl">Total: <span class="text-blanco font-light block">{{"Total"}}</span></h2>
        </div> -->
    </div>

</div>