<div class="pt-10 w-full family bg-[url('https://www.teahub.io/photos/full/5-53489_photo-wallpaper-tree-coffee-coffee-fondos-de-pantalla.jpg')] bg-contain bg-left-repeat">

    <h1 class="font-bold text-5xl text-center text-blanco">FACTURA</h1>

    <div id="campos" class="w-1/5 flex flex-col mx-auto items-center pb-10 px-2  outline-4 rounded-lg">
        <div
            class="my-2 p-2 border-4 border-chocolate rounded-xl bg-crema text-chocolate font-bold w-full shadow-md shadow-chocolate">
            <h2>Nombre: <span class="text-blanco block">{{"Nombre"}}</span></h2>
        </div>

        <div
            class="my-2 p-2 border-4 border-chocolate rounded-xl bg-crema text-chocolate font-bold w-full shadow-md shadow-chocolate">
            <h2>Apellido: <span class="text-blanco block">{{"Apellido"}}</span></h2>
        </div>

        <div
            class="my-2 p-2 border-4 border-chocolate rounded-xl bg-crema text-chocolate font-bold w-full shadow-md shadow-chocolate">
            <h2>Dirección: <span class="text-blanco block">{{"Dirección"}}</span></h2>
        </div>

        <div
            class="my-2 p-2 border-4 border-chocolate rounded-xl bg-crema text-chocolate font-bold w-full shadow-md shadow-chocolate">
            <h2>Cod Postal: <span class="text-blanco block">{{"Cod Postal"}}</span></h2>
        </div>

        <div
            class="my-2 p-2 border-4 border-chocolate rounded-xl bg-crema text-chocolate font-bold w-full shadow-md shadow-chocolate">
            <h2>Subtotal: <span class="text-blanco block">{{"Subtotal"}}</span></h2>
        </div>

        <div
            class="my-2 p-2 border-4 border-chocolate rounded-xl bg-crema text-chocolate font-bold w-full shadow-md shadow-chocolate">
            <h2>Total: <span class="text-blanco block">{{"Total"}}</span></h2>
        </div>
    </div>

</div>